[data-theme="violet"] {
    --gradient: #5865F2;
    --900: #5865F2;
    --800: #5865F2;
    --700: #5865F2;
    --600: #5865F2;
    --500: #5865F2;
    --400: #5865F2;
    --300: #5865F2;
    --200: #5865F2;
    --100: #5865F2;
    --50: #5865F2;
    --600-0: rgba(88, 101, 242, .0);
    --600-10: rgba(88, 101, 242, .10);
    --600-20: rgba(88, 101, 242, .20);
    --600-30: rgba(88, 101, 242, .30);
    --600-40: rgba(88, 101, 242, .40);
    --600-50: rgba(88, 101, 242, .50);
    --600-60: rgba(88, 101, 242, .60);
    --600-70: rgba(88, 101, 242, .70);
    --600-80: rgba(88, 101, 242, .80);
    --600-90: rgba(88, 101, 242, .90);
}