[data-theme='blurple'] {
    --100: #5865F2;
    --100-0: rgba(88, 101, 242, .0);
    --100-10: rgba(88, 101, 242, .10);
    --100-20: rgba(88, 101, 242, .20);
    --100-30: rgba(88, 101, 242, .30);
    --100-40: rgba(88, 101, 242, .40);
    --100-50: rgba(88, 101, 242, .50);
    --100-60: rgba(88, 101, 242, .60);
    --100-70: rgba(88, 101, 242, .70);
    --100-80: rgba(88, 101, 242, .80);
    --100-90: rgba(88, 101, 242, .90);
}