@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

main {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191919;
    overflow-x: hidden;
}

.z-1 {
    z-index: 1;
}

.z-50 {
    z-index: 50;
}

.z-60 {
    z-index: 60;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb {
    background-color: var(--100);
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}